* {
	box-sizing: border-box;
  }
  body {
	margin: 0px;
	padding: 0px;
  }
  #entete,
  #menu,
  #contenu,
  #pied,
  #message {
	position: absolute;
	left: 0%;
	width: 100%;
  }
  #entete {
	position: absolute;
	left: 0%;
	top: 0%;
	height: 10%;
	width: 100%;
	color: white;
	font-family: "agency FB";
	font-size: 2.5em;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	background-color: black;
  }
  #menu {
	top: 10%;
	height: 6.5%;
	color: white;
	text-align: center;
	background-color: black;
	border-top: solid white 2px;
  }
  #menu ul,
  #menu li {
	display: inline;
  }
  #menu li a {
	display: inline-block;
	color: white;
	padding: 10px;
	text-decoration: none;
	border-left: solid white 2px;
  }
  #menu li a:hover {
	border-bottom: solid rgb(219, 206, 18) 4px;
  }
  #menu li:last-child a {
	border-right: solid white 2px;
  }
  #titre-principal {
	text-align: center;
  }
  #contenu {
	top: 16%;
	height: 84%;
	padding: 10px;
	padding-top: 15px;
	overflow: auto;
  }
  #contenu p {
	line-height: 1.5;
	text-align: justify;
  }
  #pied {
	bottom: 0%;
	height: 5%;
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
  }
  #message {
	color: red;
  }
  /*p
  {
	  box-shadow:2px 2px 2px ;
	  border-style:solid inset;
	  border-color:black rgb(87, 86, 86);
	  padding: 10px 10px;
  }
  */
  a {
	text-decoration: none;
	color: rgb(8, 8, 8);
	text-align: 20%;
  }
  
  .article {
	margin: 10px;
	padding: 10px;
	border: 3px double black;
	background-color: rgba(214, 214, 212, 0.1);
  }
  h1,
  h4 {
	text-align: center;
  }
  #suiv {
	height: 50px;
	width: 50px;
	background: purple;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 200px;
	bottom: 20px;
	cursor: pointer;
  }
  
  #suiv p,
  #prec p {
	color: white;
  }
  
  #prec {
	height: 50px;
	width: 50px;
	background: black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 200px;
	bottom: 20px;
	cursor: pointer;
  }
  .material-icons {
	cursor: pointer;
	color: brown;
  }
  